* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* mobile*/

@media screen and (min-width: 320px) and (max-width: 767px) {
    .mainblock {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 15px;
        max-width: 100%;
       
    }
    .part {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    }
    .container .mobile {
        display: none;
    }
    .red {
        background: #ff1600;
        height: 100px;
        flex: 100%;
    
    }
    .orange {
        margin-top: 10px;
        height: 200px;
        flex: 100%;
        background:#f59b00;

    }
    .container {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
      
    }
    .yellow1 {
        background: #fff200;
        height: 200px;
        flex: 1 100%;
    }
    .green {
        margin-top: 10px;
        background:#40ff00;
        height: 200px;
        flex:  100%;
       
    }
    .pink {
        margin-top: 10px;
        background: #ff00c9;
        height: 200px;
        flex:  100%;
     
    }
    .blue {
        margin-top: 10px;
        background: #2200ff;
        height: 200px;
        flex:  100%;
     
    }
}
        /*tablet*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container .mobile {
        display: none;
    }
    .mainblock {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 15px;
        max-width: 100%;
    
    }
    .part {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }
    .red {
        background:#ff1600;
        height: 100px;
        flex: 100%;
   
    }
    .orange {
        margin-top: 10px;
        height: 200px;
        flex-basis: 65%;
        background: #f59b00;
    
    }
    .container {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
  
    }
    .yellow1 {
        background: #fff200;
        height: 300px;
        flex:  100%;
    }
    .green {
        margin-top: 10px;
        width: 34%;
        height: 200px;
        background:#40ff00;

    }
    .pink {
        margin-top: 10px;
        background:  #ff00c9;
        height: 400px;
        flex: 100%;
     
    }
    .blue {
        margin-top: 10px;
        background: #2200ff;
        height: 200px;
        flex:  100%;
 
    }
}
        /*desktop*/

@media screen and (min-width: 1024px) {
    .mainblock {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 15px;
        max-width: 100%;
    }
    .part {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    }
    .red {
        background: #ff1600;
        height: 100px;
        flex: 100%;
     
    }
    .orange {
        margin-top: 10px;
        height: 200px;
        flex:  100%;
        background: #f59b00;
      
    }
    .container {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        flex: 76%;
      
    }
    .yellow1 {
        height: 200px;
        margin-top: 10px;
        margin-right: 20px;
        flex: 35%;
        background: #fff200;
    
    }
    .yellow2 {
        height: 200px;
        flex: 35%;
        margin-top: 10px;
        margin-right: 20px;
        background: #fff200;
       
    }
    .yellow3 {
        height: 200px;
        flex: 35%;
        margin-top: 10px;
        margin-right: 20px;
        background: #fff200;
 
    }
    .yellow4 {
        height: 200px;
        flex: 35%;
        margin-top: 10px;
        margin-right: 20px;
        background:#fff200;
  
    }
    .green {
        margin-top: 20px;
        width: 20.3%;
        height: 300px;
        background: #40ff00;
    
 
    }
    .pink {
        margin-top: 10px;
        background: #ff00c9;
        height: 700px;
        flex: 75%;
   
    }
    .blue {
        margin-top: -100px;
        margin-left: 20px;
        background: #2200ff;
        height: 400px;
        flex: 17%;
   
    }
}
